body {
	color: #4E342E;
}

.jumbotron {
	background: linear-gradient(rgba(201, 123, 123, 0.8),
		rgba(255, 255, 255, 0.1));
}

.advert {
	position: relative;
	text-align: center;
	color: white;
}

.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
	color: #4E342E;
	text-align: right;
	margin-top: 15px;
	margin-right: 15px;
	line-height: 0.5;
	font-size: medium;
}

#mainJewelryTable {
	margin-top: 0px;
	margin-bottom: 70px;
}

#mainGalleryTable {
	margin-top: 0px;
	margin-bottom: 70px;
}

img {
	border-radius: 50%;
}

table {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

#jewelery1 {
	padding-right: 20px;
	padding-left: 20px;
}

#gallery1 {
	padding-right: 20px;
	padding-left: 20px;
}

.headingKaireRannik {
	padding-top: 10px;
	padding-bottom: 20px;
}

.headingShop {
	padding-top: 40px;
	padding-bottom: 0px;
}

.shopingMenue {
	margin: 0 auto;
	padding-bottom: 40px;
}

.shopingCart {
	float: right;
	position: fixed;
	top: 90px;
}

#getElementByCategoryIdSelect {
	color: #4E342E;
	background-color: #afa7cc;
	border: 0px;
	font-size: medium;
	height: 40px;
	width: 120;
	border-radius: 8px;
}

.galleryListId {
	margin: 0 auto;
	padding-bottom: 40px;
}

#getElementByGalleryCategoryIdSelect {
	color: #4E342E;
	background-color: #afa7cc;
	border: 0px;
	font-size: medium;
	height: 40px;
	width: 120;
	border-radius: 8px;
}

.galleryHeading {
	
}

.contactAndPicture {
	
}

.kairePhoto {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 90px;
}

.contact {
	position: relative;
}

.mailBox {
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.bio {
	padding-right: 10px;
	padding-left: 10px;
}

.bioText {
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: justify;
}

.bioLinks {
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
}